.product-table-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .table-header-actions {
    display: flex;
    gap: 10px;
  }
  
  .close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .print-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .action-button.edit {
    color: blue; /* Bouton modifier en bleu */
  }
  
  .action-button.delete {
    color: red; /* Bouton supprimer en rouge */
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #e4cdcd;
    padding: 8px;
  }
  
  .product-table th {
    background-color: #778dbd;
    text-align: left;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #fdfcfc;
  }
  
  .product-table tr:hover {
    background-color: #ffffff;
  }
  .search-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  /* Overlay for modals */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Loading and error messages */
.loading-message,
.error-message {
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

.loading-message {
  color: #007bff;
}

.error-message {
  color: #dc3545;
}
.modal-buttons {
  display: flex;
  justify-content: center; /* This centers the buttons horizontally */
  gap: 20px; /* Adds some space between the buttons */
  margin-top: 20px; /* Adds some space above the buttons */
}

.delete-button {
  background-color:  rgb(209, 17, 17);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: rgb(209, 17, 17);
}

.cancel-button:hover {
  background-color: darkgreen;
}
