.enregistrer-vente-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .vente-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .vente-form input, .vente-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button, .print-button, .close-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .print-button {
    background-color: #28a745;
  }
  
  .close-button {
    background-color: #dc3545;
  }
  
  .facture {
    text-align: center;
  }
  
  .facture-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-facture {
    width: 100px;
  }
  
  .station-details p {
    margin: 0;
  }
  